* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  height: 100vh;
}

.container {
  margin: 3% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.container1:hover {
  background-color: hsl(237, 63%, 64%);
  padding: 4% 3%;
  border-radius: 0.5em;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: hsl(234, 14%, 74%) h;
}
.container2:hover {
  background-color: hsl(237, 63%, 64%);
  padding: 4% 3%;
  border-radius: 0.5em;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: hsl(234, 14%, 74%) h;
}

.container3:hover {
  background-color: hsl(237, 63%, 64%);
  padding: 4% 3%;
  border-radius: 0.5em;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: hsl(234, 14%, 74%);
}

body {
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-color: hsl(234, 14%, 74%);
  font-family: "Montserrat";
}

li {
  list-style-type: none;
  padding: 20px;
  font-weight: bold;
  border-bottom: 1px solid hsl(234, 14%, 74%);
  width: 90%;
  text-align: center;
}
.button {
  width: 200px;
  height: 30px;
  background-color: hsl(240, 78%, 98%);
}
.button:hover {
  width: 200px;
  height: 30px;
}
li:nth-child(2) {
  font-size: 50px;
}
li:last-child {
  border-bottom: none;
}
.container1 {
  background-color: hsl(240, 78%, 98%);
  border-radius: 0.5em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  color: hsl(232, 13%, 33%);
  align-items: center;
}
.container2 {
  background-color: hsl(240, 78%, 98%);
  border-radius: 0.5em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  color: hsl(232, 13%, 33%);
  align-items: center;
}

.container3 {
  background-color: hsl(240, 78%, 98%);
  border-radius: 0.5em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  color: hsl(232, 13%, 33%);
  align-items: center;
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}
.checkbox {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: flex-end;
}
p {
  display: flex;
}
.first-div {
  margin-right: 15px;
}
.third-div {
  margin-left: 15px;
}
