li {
  list-style-type: none;

  font-weight: bold;
  border-bottom: 1px solid hsl(234, 14%, 74%);

  text-align: center;
  height: 6vh;
  padding-top: 1vh;
}
.bg1 {
  border: solid 2px black;
  border-radius: 0.2em;
}
.list1{
  font-size: 30px;
  
}

li:last-child {
  border-bottom: none;
}
.row1 {
  background-color:  background-color: hsl(240, 78%, 98%);
  padding: 0% 0%;
}
@media only screen and (max-width: 300px) {
  li {
    font-size: 12px;
    font-weight: 900;
  }
}
